body{
    background-color: #0d1117 !important;
}
nav{
    background-color: rgb(22, 27, 34) !important;
   
}
.navbar a{
    color:  #fff !important;
}
.navbar a:hover{
    opacity: 0.7;
}
.search{
    background-color: black !important;
    border: none !important;
}
.form-search{
    width: 38% !important;
}

.left-head .nav-item .nav-link{
    display: inline-block !important;
}

#public-btn{
    color: #7d8590 ;
    border:1px solid #30363d;
    border-radius: 2em;
    font-size: 12px;
    font-weight: 500px;
    line-height: 18px;
    padding: 0 7px;
}
#header{
    padding: 16px 32px 0px;
}
.header1{
    display: flex !important; 
    justify-content: space-between;
    margin-bottom: 16px;
}
.left-head ul li a{
    color: #2f81f7 !important;
}

.right-head1 button{
    background-color: #21262d;
    margin-right: 8px;
}


.header2 .btn{ 
    background: none !important;
    border: none !important;
}
.header2 .btn:hover{ 
    background: #22272c !important;
}

.dropdown-menu{
    background:#333333 !important;
}